{% extends "college_base.html"%}
{% load static %}
{% block title%}SATTVA TECHINFO (college Profile){% endblock title%}
{%block content%}

<link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
<div class="page-content">
    <div class="container-fluid">
        <div class="profile-foreground position-relative mx-n4 mt-n4">
            <div class="profile-wid-bg">
                <img src="assets/images/profile-bg.jpg" alt="" class="profile-wid-img" />
            </div>
        </div>
        <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
            <div class="row g-4">
                <div class="col-auto">
                    <div class="avatar-lg">
                        <img src="{{college.profile.url}}" alt="user-img" class="img-thumbnail rounded-circle" />
                    </div>
                </div>
                <!--end col-->
                <div class="col">
                    <div class="p-2">
                        <h3 class="text-white mb-1">{{college.principal}}</h3>
                        <p class="text-white text-opacity-75">{{college.name}}</p>
                        <div class="hstack text-white-50 gap-1">
                            <div class="me-2"><i class="ri-map-pin-user-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>in {{college.city}}</div>
                        </div>
                    </div>
                    
                </div>
                <div class="col flex-shrink-0 " style="margin-top: 10%; margin-left: 25%;">
                    <a href="{% url 'clg_upd_pro'%}" class="btn btn-success"><i class="ri-edit-box-line align-bottom"></i> Edit Profile</a>
                </div>
                
                <!--end col-->
                <!-- <div class="col-12 col-lg-auto order-last order-lg-0">
                    <div class="row text text-white-50 text-center">
                        <div class="col-lg-6 col-4">
                            <div class="p-2">
                                <h4 class="text-white mb-1">24.3K</h4>
                                <p class="fs-14 mb-0">Followers</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-4">
                            <div class="p-2">
                                <h4 class="text-white mb-1">1.3K</h4>
                                <p class="fs-14 mb-0">Following</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--end col-->

            </div>
            <!--end row-->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div>

                        <!-- Nav tabs -->
                        
                   
                    <!-- Tab panes -->
                    <div class="tab-content pt-4 text-muted">
                        <div class="tab-pane active" id="overview-tab" role="tabpanel">
                            <div class="row">
                                <div class="col-xxl-8">

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">BASIC</h5>
                                            <div class="table-responsive">
                                                <table class="table table-borderless mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th class="ps-0" scope="row">College Name :</th>
                                                            <td class="text-muted">{{college.name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Mobile :</th>
                                                            <td class="text-muted">{{college.contact}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">E-mail :</th>
                                                            <td class="text-muted">{{college.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">City:</th>
                                                            <td class="text-muted">{{college.city}}</td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->
                                </div>
                                <!--end col-->
                                <div class="col-xxl-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">More</h5>
                                            <div class="table-responsive">
                                                <table class="table table-borderless mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th class="ps-0" scope="row">College Code :</th>
                                                            <td class="text-muted">{{college.clg_code}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">university Code :</th>
                                                            <td class="text-muted">{{college.university}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Postal Code :</th>
                                                            <td class="text-muted">{{college.postal}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Principal:</th>
                                                            <td class="text-muted">{{college.principal}}</td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end card-body-->
                                    </div><!-- end card -->
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end tab-pane-->
                    </div>
                    <!--end tab-content-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

    </div><!-- container-fluid -->
</div><!-- End Page-content -->



{% endblock content%}