{% extends "university_base.html"%}
{%block title%} SATTVA INFOTECH (Add Question) {% endblock title%}

{% block content%}
{% if text != None %}
<h1 class="navbar-dark bg-primary" style="color: aliceblue; text-align: center;"> {{text}}</h1>
{% endif %}
<div class="page-content">
   <div class="container">
      <form class="form-signin"  method ="POST"  >  {% csrf_token %}


        <div class="form-group">
            <label for="name">Question</label>
            <input type="name" class="form-control" id="name" name="name" placeholder="Enter Question hear" required>
        </div>

        <div class="form-group">
            <label for="a">option A</label>
            <input type="text" name="a" class="form-control" id="a" placeholder="Enter Your Option A" required>
        </div>

        <div class="form-group">
            <label for="b">option B</label>
            <input type="text" name="b" class="form-control" id="b" placeholder="Enter Your Option B" required>
        </div>

        <div class="form-group">
            <label for="c">option C</label>
            <input type="text" name="c" class="form-control" id="c" placeholder="Enter Your Option C" required>
        </div>

        <div class="form-group">
            <label for="d">option D</label>
            <input type="text" name="d" class="form-control" id="d" placeholder="Enter Your Option D" required>
        </div>

        

        <div class="form-group">
            <p>Please select correct Answer</p>
            <input type="radio" id="ao" name="ans" value="a" style="margin-left: 3%;">
            <label for="ao">option A</label>
            <input type="radio" id="bo" name="ans" value="b"style="margin-left: 5%;">
            <label for="bo">option B</label>
            <input type="radio" id="co" name="ans" value="c"style="margin-left: 5%;">
            <label for="co">option C</label>
            <input type="radio" id="do" name="ans" value="d"style="margin-left: 5%;">
            <label for="do">option D</label> <br>
        </div>

        <div class="form-group">
            <div class="mb-3">
                <label for="useremail" class="form-label">subject <span class="text-danger">*</span></label>
                <select name="sub" id="cars" class="form-control">
                    <option value="none">-----</option>
                    <option value="PY">PYTHON</option>
                    <option value="JAVA">JAVA</option>
                    <option value="C">C</option>
                    <option value="CPP">C++</option>
                    <option value="C#">C#</option>
                    <option value="HTML">HTML</option>
                    <option value="JS">JAVA SCRIPT</option>
                    <option value="R">R LANGUAGE</option>
                    <option value="GO">GO LANGUAGE</option>
                    <option value="SWIFT">SWIFT</option>
                    <option value="RUST">RUST</option>
                    <option value="DBMS">DBMS</option>
                    <option value="PHP">PHP</option>
                  </select>
                
                <div class="invalid-feedback">
                    Please select the subject
                </div>
            </div>
        </div>
       

        <button type="submit" class="btn btn-primary" style="margin-left: 25%; width: 200px;">add</button>
        <button type="reset" class="btn btn-danger" style="margin-left: 5%; width: 200px;">clear</button>
        <div class="form-group">
          {{error}}
        </div>
      </form>

    </div>
    
</div> 

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock content %}