{% extends "university_base.html"%}
{%block title%} SATTVA INFOTECH (Colleges) {% endblock title%}
{% block content%}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                    <h4 class="mb-sm-0">colleges</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">university</a></li>
                            <li class="breadcrumb-item active">colleges</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        

        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="invoiceList">
                    <div class="card-header border-0">
                        <div class="d-flex align-items-center">
                            <h5 class="card-title mb-0 flex-grow-1">List of colleges</h5>
                        </div>
                    </div>
                    <div class="card-body bg-light-subtle border border-dashed border-start-0 border-end-0">
                        <form action="{% url 'uni_search'%}">
                            <div class="row g-3">
                                <div class="col-xxl-5 col-sm-12">
                                    <div class="search-box">
                                        <input name="search" type="text" class="form-control search bg-light border-light" placeholder="Enter the College Code">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="table-responsive table-card">
                                <table class="table table-hover table-borderless table-centered align-middle table-nowrap mb-0">
                                    <thead class="text-muted bg-light-subtle">
                                        <tr>
                                            <th>College</th>
                                            <th>Contact</th>
                                            <th>College Code</th>
                                            <th>mail</th>
                                            <th>City</th>
                                            <th>Postal Code</th>
                                            <th></th>
                                        </tr>
                                    </thead><!-- end thead -->
                                    <tbody>
                                        {% for college in data %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2">
                                                        <img src="{{college.profile.url}}" alt="img" class="avatar-xxs material-shadow">
                                                    </div>
                                                    <div>
                                                        <h6 class="fs-14 mb-0">{{college.name}}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{college.contact}}</td>
                                            <td>
                                                <h6 class="text-success fs-13 mb-0"><i class="mdi mdi-trending-up align-middle me-1"></i>{{college.clg_code}} </h6>
                                            </td>
                                            <td>{{college.email}}</td>
                                            <td>{{college.city}}</td>
                                            <td>{{college.postal}} </td>
                                            <td><a href="{% url 'clg_profile_uni' num=college.id %}" class="btn btn-sm btn-soft-secondary material-shadow-none"><i class="ri-eye-fill "></i>View</a></td>

                                        </tr><!-- end -->
                                        {% endfor %}
                                    </tbody><!-- end tbody -->
                                </table>
                                <div class="noresult" style="display: none">
                                    <div class="text-center">
                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                        <p class="text-muted mb-0">We've searched more than 150+ invoices We did not find any invoices for you search.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-labelledby="deleteOrderLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body p-5 text-center">
                                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                        <div class="mt-4 text-center">
                                            <h4>You are about to delete a order ?</h4>
                                            <p class="text-muted fs-15 mb-4">Deleting your order will remove all of your information from our database.</p>
                                            <div class="hstack gap-2 justify-content-center remove">
                                                <button class="btn btn-link link-success fw-medium text-decoration-none" id="deleteRecord-close" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                                <button class="btn btn-danger" id="delete-record">Yes, Delete It</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end modal -->
                    </div>
                </div>

            </div>
            <!--end col-->
        </div>
        <!--end row-->

    </div><!-- container-fluid -->
</div>
{% endblock content%}